<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentsDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Настройки пула соединений C3P0 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>

        <!-- Диалект Hibernate для MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Показывать SQL-запросы в консоли -->
        <property name="hibernate.show_sql">true</property>

        <!-- Использовать текущую сессию, привязанную к потоку -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Автоматическое управление схемой базы данных -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Маппинг классов -->
        <mapping class="sem4.models.Student"/>
        <mapping class="hw4.Person"/>

    </session-factory>
</hibernate-configuration>
